.bgColor {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
}

@media screen and (min-width: 600px) {
  .move-left {
    animation: left 3s ease-in-out 2s 1 normal forwards;
  }

  .move-right {
    animation: right 3s ease-in-out 2s 1 normal forwards;
  }

  .move-up {
    animation: up 3s ease-in-out 4s 1 normal forwards;
    opacity: 0;
    transform: translateY(-100%);
  }

  @keyframes up {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes right {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(50%);
    }
  }
}

@media screen and (max-width: 600px) {
  .move-right {
    animation: none;
  }

  .move-left {
    animation: none;
  }

  .modalButton {
    left: 50%;
    transform: translateX(-50%);
  }
}

.desktopModal{
    background: rgba(0, 0, 0, 0.166);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.backgroundBlur{
    background: rgba(0, 0, 0, 0.7);
}
